:root{
    --black: #000000;
    --dark-blue: #1D2B53;
    --purple: #7E2553;
    --dark-green: #008751;
    --brown: #AB5236;
    --dark-grey: #5F574F;
    --grey: #C2C3C7;
    --white: #FFF1E8;
    --red: #FF004D;
    --orange: #FFA300;
    --yellow: #FFEC27;
    --green: #00E436;
    --blue: #29ADFF;
    --indigo: #83769C;
    --pink: #FF77A8;
    --peach: #FFCCAA;
}

@font-face {
    font-family: 'Pico8';
    src: url('./pico8-mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--black);
    min-width: 550px;
    min-height: 550px;
}
